@import "tailwindcss";
@layer base {
    html {
    scroll-behavior: smooth;
}
    body {
    font-family: 'Unbounded', sans-serif;
    }
}
::selection {
    background-color: #e4ff30; 
    color: #000; 
    }